@import '../../../src/index.css';
:root {
    --vp-nav-logo-height: 3rem;
    --vp-c-brand-1: rgb(var(--vxvue-color));
    --vp-c-brand-2: rgb(var(--vxvue-color-600));
    --vp-c-brand-3: rgb(var(--vxvue-color-700));
}

