@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --vxvue-color: 0 137 204;
    --vxvue-color-50: 179 230 255;
    --vxvue-color-100: 112 208 255;
    --vxvue-color-200: 71 195 255;
    --vxvue-color-300: 31 181 255;
    --vxvue-color-400: 0 164 245;
    --vxvue-color-500: --vxvue-color;
    --vxvue-color-600: 0 99 148;
    --vxvue-color-700: 0 62 92;
    --vxvue-color-800: 0 24 36;
    --vxvue-color-900: 0 0 0;

    --vxvue-highlight: 255 148 0;
    --vxvue-highlight-50: 255 251 234;
    --vxvue-highlight-100: 255 241 197;
    --vxvue-highlight-200: 255 227 133;
    --vxvue-highlight-300: 255 206 70;
    --vxvue-highlight-400: 255 184 27;
    --vxvue-highlight-500: var(--vxvue-highlight);
    --vxvue-highlight-600: 226 109 0;
    --vxvue-highlight-700: 187 73 2;
    --vxvue-highlight-800: 152 56 8;
    --vxvue-highlight-900: 124 47 11;
    --vxvue-highlight-950: 72 22 0;
}

@layer components {
    :focus-visible { @apply outline outline-2 outline-offset-0 outline-vxvue-alt/50 }
}