@import 'tailwindcss';
@plugin '@tailwindcss/forms';

@theme {
  --font-sans: Inter, ui-sans-serif, system-ui, sans-serif;

  --color-vxvue-50: rgb(var(--vxvue-color-50));
  --color-vxvue-100: rgb(var(--vxvue-color-100));
  --color-vxvue-200: rgb(var(--vxvue-color-200));
  --color-vxvue-300: rgb(var(--vxvue-color-300));
  --color-vxvue-400: rgb(var(--vxvue-color-400));
  --color-vxvue-500: rgb(var(--vxvue-color-500));
  --color-vxvue-600: rgb(var(--vxvue-color-600));
  --color-vxvue-700: rgb(var(--vxvue-color-700));
  --color-vxvue-800: rgb(var(--vxvue-color-800));
  --color-vxvue-900: rgb(var(--vxvue-color-900));
  --color-vxvue: rgb(var(--vxvue-color));

  --color-vxvue-alt-50: rgb(var(--vxvue-highlight-50));
  --color-vxvue-alt-100: rgb(var(--vxvue-highlight-100));
  --color-vxvue-alt-200: rgb(var(--vxvue-highlight-200));
  --color-vxvue-alt-300: rgb(var(--vxvue-highlight-300));
  --color-vxvue-alt-400: rgb(var(--vxvue-highlight-400));
  --color-vxvue-alt-500: rgb(var(--vxvue-highlight-500));
  --color-vxvue-alt-600: rgb(var(--vxvue-highlight-600));
  --color-vxvue-alt-700: rgb(var(--vxvue-highlight-700));
  --color-vxvue-alt-800: rgb(var(--vxvue-highlight-800));
  --color-vxvue-alt-900: rgb(var(--vxvue-highlight-900));
  --color-vxvue-alt: rgb(var(--vxvue-highlight));

  --color-success-50: rgb(var(--success-color-50));
  --color-success-100: rgb(var(--success-color-100));
  --color-success-200: rgb(var(--success-color-200));
  --color-success-300: rgb(var(--success-color-300));
  --color-success-400: rgb(var(--success-color-400));
  --color-success-500: rgb(var(--success-color-500));
  --color-success-600: rgb(var(--success-color-600));
  --color-success-700: rgb(var(--success-color-700));
  --color-success-800: rgb(var(--success-color-800));
  --color-success-900: rgb(var(--success-color-900));
  --color-success-950: rgb(var(--success-color-950));
  --color-success: rgb(var(--success-color));

  --color-error-50: rgb(var(--error-color-50));
  --color-error-100: rgb(var(--error-color-100));
  --color-error-200: rgb(var(--error-color-200));
  --color-error-300: rgb(var(--error-color-300));
  --color-error-400: rgb(var(--error-color-400));
  --color-error-500: rgb(var(--error-color-500));
  --color-error-600: rgb(var(--error-color-600));
  --color-error-700: rgb(var(--error-color-700));
  --color-error-800: rgb(var(--error-color-800));
  --color-error-900: rgb(var(--error-color-900));
  --color-error-950: rgb(var(--error-color-950));
  --color-error: rgb(var(--error-color));

  --color-warn-50: rgb(var(--warn-color-50));
  --color-warn-100: rgb(var(--warn-color-100));
  --color-warn-200: rgb(var(--warn-color-200));
  --color-warn-300: rgb(var(--warn-color-300));
  --color-warn-400: rgb(var(--warn-color-400));
  --color-warn-500: rgb(var(--warn-color-500));
  --color-warn-600: rgb(var(--warn-color-600));
  --color-warn-700: rgb(var(--warn-color-700));
  --color-warn-800: rgb(var(--warn-color-800));
  --color-warn-900: rgb(var(--warn-color-900));
  --color-warn-950: rgb(var(--warn-color-950));
  --color-warn: rgb(var(--warn-color));

  --color-info-50: rgb(var(--info-color-50));
  --color-info-100: rgb(var(--info-color-100));
  --color-info-200: rgb(var(--info-color-200));
  --color-info-300: rgb(var(--info-color-300));
  --color-info-400: rgb(var(--info-color-400));
  --color-info-500: rgb(var(--info-color-500));
  --color-info-600: rgb(var(--info-color-600));
  --color-info-700: rgb(var(--info-color-700));
  --color-info-800: rgb(var(--info-color-800));
  --color-info-900: rgb(var(--info-color-900));
  --color-info-950: rgb(var(--info-color-950));
  --color-info: rgb(var(--info-color));
}

@layer utilities {
  :root {
    --vxvue-color: 0 137 204;
    --vxvue-color-50: 179 230 255;
    --vxvue-color-100: 112 208 255;
    --vxvue-color-200: 71 195 255;
    --vxvue-color-300: 31 181 255;
    --vxvue-color-400: 0 164 245;
    --vxvue-color-500: --vxvue-color;
    --vxvue-color-600: 0 99 148;
    --vxvue-color-700: 0 62 92;
    --vxvue-color-800: 0 24 36;
    --vxvue-color-900: 0 0 0;

    --vxvue-highlight: 255 148 0;
    --vxvue-highlight-50: 255 251 234;
    --vxvue-highlight-100: 255 241 197;
    --vxvue-highlight-200: 255 227 133;
    --vxvue-highlight-300: 255 206 70;
    --vxvue-highlight-400: 255 184 27;
    --vxvue-highlight-500: var(--vxvue-highlight);
    --vxvue-highlight-600: 226 109 0;
    --vxvue-highlight-700: 187 73 2;
    --vxvue-highlight-800: 152 56 8;
    --vxvue-highlight-900: 124 47 11;
    --vxvue-highlight-950: 72 22 0;

    --success-color: 64 172 0;
    --success-color-50: 242 255 229;
    --success-color-100: 225 255 199;
    --success-color-200: 196 255 149;
    --success-color-300: 157 254 88;
    --success-color-400: 123 245 38;
    --success-color-500: 89 220 6;
    --success-color-600: var(--success-color);
    --success-color-700: 51 133 6;
    --success-color-800: 44 105 11;
    --success-color-900: 38 88 15;
    --success-color-950: 15 50 1;

    --warn-color: 226 182 37;
    --warn-color-50: 252 249 234;
    --warn-color-100: 248 242 201;
    --warn-color-200: 242 228 150;
    --warn-color-300: 235 207 89;
    --warn-color-400: var(--warn-color);
    --warn-color-500: 211 161 31;
    --warn-color-600: 182 126 24;
    --warn-color-700: 145 91 23;
    --warn-color-800: 121 73 26;
    --warn-color-900: 103 62 28;
    --warn-color-950: 60 31 12;

    --error-color: 181 18 18;
    --error-color-50: 255 241 241;
    --error-color-100: 255 224 224;
    --error-color-200: 255 199 199;
    --error-color-300: 255 160 160;
    --error-color-400: 255 105 105;
    --error-color-500: 249 58 58;
    --error-color-600: 230 28 28;
    --error-color-700: var(--error-color);
    --error-color-800: 160 20 20;
    --error-color-900: 132 24 24;
    --error-color-950: 72 7 7;

    --info-color: 0 128 240;
    --info-color-50: 237 251 255;
    --info-color-100: 214 244 255;
    --info-color-200: 181 238 255;
    --info-color-300: 131 230 255;
    --info-color-400: 72 213 255;
    --info-color-500: 30 184 255;
    --info-color-600: 6 156 255;
    --info-color-700: var(--info-color);
    --info-color-800: 8 103 197;
    --info-color-900: 13 89 155;
    --info-color-950: 14 53 93;

    --zIndex-confirm: 1000;
    --zIndex-toast: 900;
    --zIndex-dropdown: 800;
    --zIndex-label: 100;
    --zIndex-modal: 600;
  }
}
