@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    button:focus-visible {
        @apply outline-black;
    }

    [v-cloak] {
        @apply hidden;
    }
}

@layer components {
    .autocomplete-item[aria-selected="true"] {
        @apply bg-vxvue-700 text-white;
    }
}

/* define the default vx-vue color set */

:root {
    --vxvue-color: #0089CC;
    --vxvue-color-50: #B3E6FF;
    --vxvue-color-100: #70D0FF;
    --vxvue-color-200: #47C3FF;
    --vxvue-color-300: #1FB5FF;
    --vxvue-color-400: #00A4F5;
    --vxvue-color-500: var(--vxvue-color);
    --vxvue-color-600: #006394;
    --vxvue-color-700: #003E5C;
    --vxvue-color-800: #001824;
    --vxvue-color-900: #000000;

    --vxvue-highlight: #ff9400;
    --vxvue-highlight-200: #ffe4bf;
    --vxvue-highlight-500: var(--vxvue-highlight);
    --vxvue-highlight-800: #995900;
}